body{
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 1em;
  color:#444;
  font-weight: 400;
}
#container{
  width:100%;
  max-width:1200px;
  margin:0 auto;
  padding-bottom: 50px;
}
#name{
  font-size:3em;
  text-transform: uppercase;
  text-align: center;
  color: #33485e;
  border-bottom:1px solid #33485e;
  width:60%;
  min-width:300px;
  margin:0 auto;
}

.sectionheader{
  margin:20px 10px 0px 0px;
  width:70%;
  min-width:300px;
}

.organization{
  font-size: 1.25em;
}
.date{
  margin: 2px 0px 0px 0px;
}
.description{
  margin: 10px 10px 0px 0px;
}
.menu{
  margin: 0px;
  padding: 0px;
  text-align: center;
}
li.menu{
  display:inline;
}
#degrees{
  margin:5px 0px 0px 0px;
}
#title{
  color: #33485e;
  font-weight:600;
  text-transform: uppercase;
  font-size:1.5em;
  text-align: center;
  margin: 20px 0px 0px 0px;
}
h2{
  font-size:1.5em;
  text-transform:uppercase;
  background-color: #33485e;
  color:#fff;
}
h3{
  font-size: 1em;
  font-weight: 600;
}
h4{
  font-size: 1em;
  font-weight:400;
}
h5{
  font-size: 1em;
  font-weight: 400;
  font-style: italic;
}
ul{
  font-size:1em;
}
